<a href="https://colab.research.google.com/github/HyoenminPark/class2021Fall/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def add(a,b):
  return a+b

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

함수는 입력과 출력을 명시하지 않아도 성립

In [4]:
def testfunc():
  a=1
  b=2
  c=a+b
  print(c)

In [ ]:
testfunc()

3

In [5]:
def myfirstfunc(a, b, c):
  d=a+b
  e=d*4
  f=e/c 
  return f

In [9]:
myfirstfunc(1,2,3)

4.0

In [ ]:
k=myfirstfunc(1,0,2)
print(k)

2.0

In [ ]:
c = add(1,2); print(c)
c = subtract(1,2); print(c)
c = multiply(1,2); print(c)
c = divide(1,2); print(c)

3
-1
2
0.5